<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @frequency_type.name %>
</p>


<%= link_to 'Edit', edit_frequency_type_path(@frequency_type) %> |
<%= link_to 'Back', frequency_types_path %>
