<div class="row msg_container base_sent">
    <div class="col-md-10 col-xs-10">
        <div class="messages msg_sent">
            <p><%= message.message %></p>
            <time><%= timeago_tag message.created_at %></time>
        </div>
    </div>
    <div class="col-md-2 col-xs-2 avatar">
        <%= image_tag "profile.jpg", class: "img-responsive" %>
    </div>
</div>