<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @special_instruction.name %>
</p>


<%= link_to 'Edit', edit_special_instruction_path(@special_instruction) %> |
<%= link_to 'Back', special_instructions_path %>
